* {
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    color: black;
    border: none;
}

body {
    overflow: hidden;
    padding: 0;
    margin-left: 10px;
    background-color: #c91212;
}

.top-bar {
    width: 100%;
    border-bottom: 1px solid #686464;
    margin: 10px;
    padding: 10px;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    margin-right: 5px;
}

.breadcrumb-item:before {
    margin-right: 5px;
    content: "/";
}

.konten {
    padding: 10px;
    color: black;
    height: 83vh;
    width: 78vw;
    /* border: 1px solid red; */
    margin-top: 3%;
    background-color: #fff;
    border-radius: 15px;
}



.box-detail{
    border: 2px double #f3d202;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    /* background-color: #fff; */
    margin-top: 10px;
}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
    box-shadow: 0px .5px 1px 1px rgba(85, 83, 83, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(85, 83, 83, 0.75);

}
tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

.table1, th, td {
    /* padding: 10px 15px; */
    text-align: center;
}
.table1 thead tr th{
    position: sticky;
    z-index: 5;
    top: 0;
    border-bottom: 2pt solid #a5a5a5;
    font-size: 12px;
    padding: 1%;
    color: #fff;
    font-weight: bold;
    background: #f3d202;
}
tfoot td{
    position: sticky;
    z-index: 5;
    bottom: 0;
    background: #f3d202;
    height: 5px;
}

.table1 thead tr th:nth-child(1){
    width: 5%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(2){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(3){
    width: 15%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(4){
    width: 15%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(5){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(6){
    width: 15%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(7){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 tbody tr td:nth-child(2),
.table1 tbody tr td:nth-child(3),
.table1 tbody tr td:nth-child(4){
    text-align: left;
    padding-left: 1%;
}
.table1 tbody tr td{
    padding: 0.5% 1%;
}
.search-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 3px 0 5px 5px;
    margin-top: 10px;
    width: 100%;
    background: rgb(243,210,2);
    background: linear-gradient(20deg, rgba(243,210,2,1) 10%, rgb(255, 97, 44) 100%);
}
.search-container label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    margin-top: 2px;
}
.search-container input{
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 5px;
    background-color: #ffffff;
    border: #c4c4c4 solid 2px;
    width: 200pxpx;
    height: 30px;
    border-radius: 0 15px 15px 0;
}
.table1 tbody tr td{
    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    height: 24px !important;
    border-right: 1px solid #a5a5a5 !important;
    border-bottom: 1px solid #a5a5a5 !important;
}
#aksi a:nth-child(1) i{
    font-size: 14pt;
    color: #033ff1;
}
#aksi a:nth-child(2) i{
    font-size: 14pt;
    color: #f3d202;
}
#aksi a:nth-child(3) i{
    font-size: 14pt;
    color: rgb(201, 3, 3);
}

#aksi a:nth-child(1) i:hover{
    color: #295fff;
}
#aksi a:nth-child(2) i:hover{
    color: #ffe224;
}
#aksi a:nth-child(3) i:hover{
    color: rgb(255, 19, 19);
}

#footer{
    font-size: 9pt;
    padding: 2px 0;
    font-family: Arial, Helvetica, sans-serif !important;
}
/* .table1 tbody tr{
    width: 100%;
    background-color: #fff;
} */
/* .box-detail td{
    border-right: 1px solid red;
    height: 50px;
} */
/* .table1 tbody tr td img{
    width: 80px;
    height: 50px;
} */

.btn {
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover.red .red {
    color: red;
}

.red {
    color: #c91212;
}