* {
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    color: black;
    border: none;
}

body {
    padding: 0;
    margin-left: 10px;
    background-color: #c91212;
}

.top-bar {
    /* border: 1px solid black; */
    width: 100%;
    border-bottom: 1px solid #686464;
    margin: 10px;
    padding: 10px;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    margin-right: 5px;
}

.breadcrumb-item:before {
    margin-right: 5px;
    content: "/";
}

.konten {
    padding: 10px;
    color: black;
    height: 83vh;
    width: 78vw;
    margin-top: 3%;
    background-color: #fff;
    border-radius: 15px;
    overflow-y: scroll;
}

/* Sembunyikan scrollbar untuk semua browser */
.konten::-webkit-scrollbar {
    display: none; /* Chrome, Safari, dan Opera */
}

.konten {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;  /* Firefox */
}


.box-besar{
    border: 2px double #f3d202;
    background: rgb(243,210,2);
    background: linear-gradient(354deg, rgba(243,210,2,1) 0%, rgba(240,61,0,1) 100%);
    height: 200px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box-judul h2{
    text-align: center;
    font-size: 26px;
}

.input-content input{
    display: block;
    border: 1px solid black;
    width: 50%;
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
}
#input1, #input2{
    padding-left: 5px;
}

.putInput{
    display: flex;
    /* border: 1px solid red; */
    height: 36px;
    align-items: center;
}
.putInput:nth-child(4){
    border-bottom: 2px double #fff;
}

.putInput label{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.input-content select{
    width: 25%;
    border: 1px solid black;
    margin-left: 5px;
}

.button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    /* border: 1px solid #000; */
}

.button .btn{
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 11pt;
    cursor: pointer;
    background-color: rgb(204, 255, 0);
    box-shadow: 1px 2px #9695959d;
    transition: 0.2s;
}
.button .btn:hover{
    background-color: rgb(229, 255, 31);
    font-size: 10pt;
    transition: 0.2s;
}

.box-detail{
    border: 2px double #f3d202;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    /* background-color: #fff; */
    margin-top: 10px;
}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
    box-shadow: 0px .5px 1px 1px rgba(85, 83, 83, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(85, 83, 83, 0.75);

}
tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

.table1, th, td {
    /* padding: 10px 15px; */
    text-align: center;
}
.table1 thead tr th{
    position: sticky;
    z-index: 5;
    top: 0;
    border-bottom: 2pt solid #a5a5a5;
    font-size: 12px;
    padding: 1%;
    color: #fff;
    font-weight: bold;
    background: #f3d202;
}
tfoot td{
    position: sticky;
    z-index: 5;
    bottom: 0;
    background: #f3d202;
    height: 5px;
}
.table1 thead tr th:nth-child(1){
    width: 5%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(2){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(3){
    width: 15%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(4){
    width: 20%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(5){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(6){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(7){
    width: 10%;
    border-right: 1px solid #a5a5a5;
}
.table1 thead tr th:nth-child(8){
    width: 4%;
    border-right: 1px solid #a5a5a5;
}
.table1 tbody tr td:nth-child(2),
.table1 tbody tr td:nth-child(4){
    text-align: left;
    padding-left: 1%;
}
.search-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 3px 0 5px 5px;
    margin-top: 10px;
    width: 155px;
    background: rgb(243,210,2);
    background: linear-gradient(20deg, rgba(243,210,2,1) 10%, rgb(255, 97, 44) 100%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.search-container label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    margin-top: 2px;
}
.search-container input{
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 5px;
    background-color: #ffffff;
    border: #c4c4c4 solid 2px;
    width: 100px;
    height: 30px;
    border-radius: 0 15px 15px 0;
}
.table1 tbody tr td{
    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    height: 24px !important;
    border-right: 1px solid #a5a5a5 !important;
    border-bottom: 1px solid #a5a5a5 !important;
}
#footer{
    font-size: 9pt;
    padding: 2px 0;
    font-family: Arial, Helvetica, sans-serif !important;
}
/* .table1 tbody tr{
    width: 100%;
    background-color: #fff;
} */
/* .box-detail td{
    border-right: 1px solid red;
    height: 50px;
} */
/* .table1 tbody tr td img{
    width: 80px;
    height: 50px;
} */
#action input[type="checkbox"] {
    --s: 15px; /* ukuran checkbox */
    height: calc(var(--s) + var(--s)/5);
    width: auto; /* beberapa browser membutuhkan ini */
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s)/2);
    display: grid;
    cursor: pointer;
    background-color:#ff7a7a;
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#action input[type="checkbox"]:before {
    content: "";
    padding: calc(var(--s)/10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
    background:
        var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
        var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
        #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s)/12)) contrast(11);
    transition: .4s, background-position .4s .1s,
        padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
}
#action input[type="checkbox"]:checked {
    background-color: #85ff7a;
}
#action input[type="checkbox"]:checked:before {
    padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
    --_p: 100%;
    --_i: 1;
}
#action input[type="checkbox"]:disabled{
    background: grey;
    opacity: 50%;
    cursor: default;
}
